*{
    color:white;
}
.foto_eu{
    clip-path: circle();
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15rem;
    
}


h1{
    font-size: 5rem;
}
body{
    background-image: url("./gipoiooioihy.gif");
    background-size: 54rem;
}